html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#imageContainer {
    max-width: 1002px; /* Set the maximum width of the container */
    max-height: 300px; /* Set the maximum height of the container */
    overflow: hidden; /* Hide any part of the image that exceeds the container */
}

#myImage {
    max-width: 500px; /* Ensure the image does not exceed the container's width */
    max-height: 300px; /* Ensure the image does not exceed the container's height */
    display: block; /* Remove any extra space around the image */
    margin: 0 auto; /* Center the image horizontally in the container (optional) */
}